<%- include('./partials/header.ejs'); %>

<div class="container">
  <!-- <%- include('./partials/nav.ejs'); %> -->
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/post/">
        <button class="btn btn-outline-primary">View All Posts</button>
      </a>
    </div>
  </div>
</div>


<%- include('./partials/footer.ejs'); %>
